/* RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-01: #0C0E0D;
    --gray-02: #151A19;
    --gray-03: #1B1F1E;
    --gray-04: #454F4D;
    --gray-05: #97A5A2;
}

body {
    height: 100vh;
    background-color: var(--gray-03);
}