@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');

/* RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trirong-regular {
  font-family: "Trirong", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
    --gray-01: #0C0E0D;
    --gray-02: #151A19;
    --gray-03: #1B1F1E;
    --gray-04: #454F4D;
    --gray-05: #97A5A2;
}

body {
    height: 100vh;
    background-color: var(--gray-03);
}

.container {
    padding-top: 1.5rem;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.options__label {
    font-family: "Manufacturing Consent", serif;
    font-size: 2rem;
    color: var(--gray-04);
}

.options__label.is-active {
    color: var(--gray-05);
}

.options__toggle {
    width: 4rem;
    height: 2rem;
    border-radius: 6px;
    padding: .125rem;
    background-color: var(--gray-04);
    cursor: pointer;
    display: flex;
}

.options__toggle--easy {
    justify-content: flex-start;
}

.options__toggle--regular {
    justify-content: flex-end;
}

.options__toggle-button {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--gray-02);
    border-radius: 4px;
}